<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Fantasy Job Board</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <h1>Ye Olde Job Board</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
</body>
</html>
