<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Job Board</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <h1>Ye Olde Job Board</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/jobs">Jobs</a></li>
            </ul>
        </nav>
    </header>

    <main class="center-content">
        <h2>Welcome to the Fantasy Job Board!</h2>
        <p>Use the navigation button above to explore available jobs.</p>
        
        <img src="https://as2.ftcdn.net/v2/jpg/01/86/73/53/1000_F_186735354_MPZ3Kg30zEOsYjrgwui9XFPtWQt18A7K.jpg"
        alt="Stained glass mosaic of a heroic dragon slayer." style="width:100%;max-width:600px;">
    </main>

</body>
</html>
