<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Job Board</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <main class="center-content">
        <h2>Welcome to the Fantasy Job Board!</h2>
        <p>Use the navigation button above to explore available jobs.</p>

        <h3>How To Use the Job Board</h3>
        <p>
            <ol>
                <li>Click on the 'Jobs' page button above.</li>
                <li>Scroll down to the 'Add New Job' section.</li>
                <li>Add a title in the 'Job Title' text field.</li>
                <li>Add a description in the 'Job Description' text field.</li>
                <li>Click the 'Add Job' button.</li>
                <li>You did it!</li>
            </ol>
        </p>
        <p>Alternatively, you can upload a job:<br>
            <ol>
                <li>Click on the 'Jobs' page button above.</li>
                <li>Scroll down to the 'Upload Job from File' section.</li>
                <li>Click on the 'Choose File' button.</li>
                <li>Upload a .txt file from your computer.</li>
                <li>Click the 'Upload' button.</li>
                <li>You did it!</li>
            </ol>
        </p>

        <hr>
        <h3>Page Analytics</h3>
        <p>Page Views: {{view_count}}</p>
        <p>Location: {{country}}, {{region}}</p>
        <hr>

        <img src="https://as2.ftcdn.net/v2/jpg/01/86/73/53/1000_F_186735354_MPZ3Kg30zEOsYjrgwui9XFPtWQt18A7K.jpg"
        alt="Stained glass mosaic of a heroic dragon slayer." style="width:100%;max-width:300px;">
    </main>

</body>
</html>
