h1, h2, h3, h4, h5, h6 {
    font-family: Papyrus, "Palatino Linotype", Palatino, serif;
}

p, li, ul {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url("parchment.avif");
}

* {
    font-weight: bold;
}